$main-color: #F8ECEC;
$button-color: #203A4E;
$main-section-color: #0B0014;
$second-section-color: #252222;
$footer-color: #C4C4C4;
$light-blue-gradient: linear-gradient(45deg, rgb(0, 0, 0), rgb(7, 11, 80));
$blue-gradient: linear-gradient(45deg, rgb(62, 76, 136) ,rgba(71, 78, 180, 0.164));
$card-blue-gradient: linear-gradient(45deg, rgb(108, 135, 255) ,rgba(37, 51, 241, 0.164));
